<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Editor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 >Image Editing Platform</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    <!-- <input type="file" name="file" accept="image/*" required> -->
    <input type="file" id="fileInput" name="file" accept="image/*" required>

    <button type="submit">Upload Image</button>
</form>

<div class="tools">
    <button onclick="openPopup('save')">Save</button>
    <button onclick="openPopup('improve')">Improve</button>
    <button onclick="openPopup('compression')">Compression</button>
    <button onclick="openPopup('edit')">Edit</button>
</div>

<!-- الواجهات العائمة لكل زر -->

<div class="popup" id="improve">
    <span class="close" onclick="closePopup()">×</span>
<h2>Image Enhancement</h2>

<!-- Brightness -->
<form action="/brightness" method="post">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <label>Brightness</label><br>
    <input type="range" name="factor" min="0.2" max="2" step="0.1" value="1">
    <button type="submit">Apply</button>
</form>

<br>

<!-- Contrast -->
<form action="/contrast" method="post">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <label>Contrast</label><br>
    <input type="range" name="factor" min="0.2" max="2" step="0.1" value="1">
    <button type="submit">Apply</button>
</form>

<br>

<form action="/sharpen" method="post" style="display:inline;">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <button type="submit">Sharpen</button>
</form>

<form action="/smooth" method="post" style="display:inline;">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <button type="submit">Smooth</button>
</form>

<br><br>

<form action="/histogram" method="post">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <button type="submit">Show Histogram</button>
</form>

{% if histogram_url %}
<br>
<h3>Histogram</h3>
<img src="{{ histogram_url }}" style="max-width:400px; border:1px solid #ccc;">
{% endif %}
<br><br>
<button class="save-btn" onclick="saveChanges('improve')">Save</button>

</div>

<div class="popup" id="compression">
    <span class="close" onclick="closePopup()">×</span>
    <h2>JPEG Compression</h2>

<form action="/compress" method="post">
    <input type="hidden" name="image_url" value="{{ image_url }}">

    <label>Compression Quality (1 - 95)</label><br>
    <input type="number" name="quality" value="70" min="1" max="95" required>

    <br><br>
    <button type="submit">Compress Image</button>
</form>

{% if compressed_url %}
<hr>

<h3>Compressed Result</h3>

<p>
    Size Before: {{ stats.before_kb }} KB <br>
    Size After: {{ stats.after_kb }} KB <br>
    Compression Ratio: {{ stats.ratio }}
</p>

<img src="{{ compressed_url }}" style="max-width:400px; border:1px solid #ccc;"><br><br>

<!-- <a href="{{ compressed_url }}" download>
    <button>Download Compressed Image</button>
</a> -->
{% endif %}

<button class="save-btn" onclick="saveChanges('compression')">Save</button>

</div>

<div class="popup" id="edit">
    <span class="close" onclick="closePopup()">×</span>
    <h2>Crop Image (Editable Box)</h2>

<!-- إطار القص -->
<div id="crop-frame">
    <img id="image" src="{{ image_url }}">

    <div id="crop-box" style="display:none;">
        <span class="handle tl"></span>
        <span class="handle tm"></span>
        <span class="handle tr"></span>
        <span class="handle ml"></span>
        <span class="handle mr"></span>
        <span class="handle bl"></span>
        <span class="handle bm"></span>
        <span class="handle br"></span>
    </div>
</div>

<br>

<button onclick="enableCrop()">Crop Mode</button>
<button onclick="submitCrop()">Save Crop</button>

<form action="/rotate" method="post" style="display:inline;">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <select name="angle">
        <option value="90">90°</option>
        <option value="180">180°</option>
        <option value="270">270°</option>
    </select>
    <button type="submit">Rotate</button>
</form>


<form id="crop-form" action="/crop" method="post">
    <input type="hidden" name="image_url" value="{{ image_url }}">
    <input type="hidden" name="x" id="x">
    <input type="hidden" name="y" id="y">
    <input type="hidden" name="width" id="width">
    <input type="hidden" name="height" id="height">
</form>
<br>
<button class="save-btn" onclick="saveChanges('edit')">Save</button>

</div>

<hr>
<!-- مقارنة قبل/بعد -->
<!-- مقارنة قبل/بعد -->
<div id="compare-container">

    <!-- الصورة الأصلية -->
    <div class="compare-box">
        <h3>Before</h3>
        <img id="before-img" src="{{ image_url }}" alt="Before Image">
    </div>

    <!-- الصورة بعد التعديل (فارغة قبل أي تعديل) -->
    <div class="compare-box">
        <h3>After</h3>

        {% if edited_url %}
            <img id="after-img" src="{{ edited_url }}" alt="After Image">
        {% else %}
            <div id="empty-after">No changes yet</div>
        {% endif %}
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>

